body {
	font-family: $bodyfont;
	font-size: 11px;
}
h1, h2 {
	font-family: $headerfont;
	text-transform: uppercase;
	text-align: center;
}
h1 {
	font-size: 4.5vw;
	color: white;
	line-height: 55px;
	position: relative;
	z-index: 1;

	span {
		color: $red;
	}

	&:after {
		content: '';
		position: absolute;
		bottom: -26px;
		-webkit-transform: translateX(-50%);
		        transform: translateX(-50%);
		width: 48px;
		height: 4px;
		left: 50%;
		background-color: white;
		z-index: 1000;
	}
}
h2 {
	font-size: 3.6vw;
	color: $black;
	padding: 0 0 40px 0;
	position: relative;
	z-index: 2;

	&:after {
		content: '';
		position: absolute;
		bottom: 18px;
		-webkit-transform: translateX(-50%);
		        transform: translateX(-50%);
		width: 48px;
		height: 4px;
		left: 50%;
		background-color: $red;
		z-index: -1;
	}
}
h3 {
	font-size: 1.2rem;
	font-family: $subheaderfont;
	color: $black;
	text-transform: uppercase;
	text-align: center;
	z-index: 100;
}
h4 {
	font-size: 0.75rem;
	font-family: $bodyfont;
	text-transform: uppercase;
	text-align: center;
	position: relative;
	z-index: 100;
}
p {
	font-size: 0.9rem;
	line-height: 19px;
	color: $lightgrey;
	text-align: center;
}
p.small {
	font-size: 0.75rem;
	line-height: 20px;
	color: $grey;
	padding-top: 15px;
	text-align: center;
}
::-moz-selection {
	background: cadetblue;
}
::selection {
	background: cadetblue;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}
.flex_container {
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
}
.cell {
	width: 100%;
}
.wrapper {
	max-width: 600px;
	width: 63%;
	margin: 0 auto;
}
section {
	padding: 120px 0;
}
button {
	border: 1.5px solid $red;
	background-color: transparent;
	font-family: $headerfont;
	text-transform: uppercase;
	letter-spacing: 2px;
	cursor: pointer;
	padding: 10px 20px;
	color: #ffffff;
	
	&:hover,
	&:focus {
		background-color: $red;
	}	
}
.hide {
	display: none;
}
#modal {
	position : fixed;
	z-index : 5000;
	top : 0;
	left : 0;
	height : 100%;
	width : 100%;
	background: rgba(255,255,255,.9);
}
#loader{
	position: fixed;
	width: 30px;
	height: 40px;
	top: 50%;
	left: 50%;
	margin-top: -20px;
	margin-left: -20px;
	z-index: 5001;
		.ball {
			position: relative;
			border-radius:15px;
			height: 20px;
			width: 20px;
			margin-bottom:-5px;
			background-color: $red;
			-webkit-animation: loader 1s ease-in-out infinite;
			animation: loader 1s ease-in-out infinite;
			top:-13px;
			left: 5px;
		}
		.shadow {
			position: absolute;
			-webkit-animation: shadow 1s infinite;
			animation: shadow 1s infinite;
			width: 30px;
			height: 15px;
			border-radius: 15px / 7px;
			background-color: rgba(0,0,0,0.25);
		}
}
@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@-webkit-keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
}
@-webkit-keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
}
@-webkit-keyframes loader {
    20% {
    	-webkit-transform: translate(0, -40px);
    	        transform: translate(0, -40px);
    }
    35% {
    	-webkit-transform: translate(0, -45px);
    	        transform: translate(0, -45px);
    }
    90% {
    	-webkit-transform: translate(0, -50px);
    	        transform: translate(0, -50px);
    }
    95% {
    	-webkit-transform: translate(0, -40px);
    	        transform: translate(0, -40px);
    }
}
@keyframes loader {
    20% {
    	-webkit-transform: translate(0, -40px);
    	        transform: translate(0, -40px);
    }
    35% {
    	-webkit-transform: translate(0, -45px);
    	        transform: translate(0, -45px);
    }
    90% {
    	-webkit-transform: translate(0, -50px);
    	        transform: translate(0, -50px);
    }
    95% {
    	-webkit-transform: translate(0, -40px);
    	        transform: translate(0, -40px);
    }
}
@-webkit-keyframes shadow {
	70% {
		-webkit-transform: scale(0.5);
		        transform: scale(0.5);
		opacity: 0.5;
	}
	100% {
		-webkit-transform: scale(0.4);
		        transform: scale(0.4);
		opacity: 0.4;
	}
}
@keyframes shadow {
	70% {
		-webkit-transform: scale(0.5);
		        transform: scale(0.5);
		opacity: 0.5;
	}
	100% {
		-webkit-transform: scale(0.4);
		        transform: scale(0.4);
		opacity: 0.4;
	}
}