section.section1 {
	background: url(../assets/big_letters_bg.jpg) center no-repeat;
	background-size: cover;
	position: relative;
	z-index: -1;
}
	section.section1 .about_container {
		margin: 70px 16% 0 16%;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
			.about_item {
				-ms-flex-line-pack:center;
				    align-content:center;
				text-align: center;
				width: 20%;
					img {
						width: 58px;
						height: 55px;
					}
			}
	}
	.about_container .about_text {
		-ms-flex-line-pack: center;
		    align-content: center;
		padding-top: 30px;
			p.small {
				padding: 0;
				margin: 15px 0 30px 0;
			}
	}
	.about_container .about_text i {
		color: $red;
		font-size: 0.5rem;
	}

/* MEDIA QUERIES //////////////////////////////////////////////////////*/

@media all and (max-width: 890px) {
	section.section1 .about_container {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		margin: 0 11%;
	}
	section.section1 h2 {
		font-size: 2.1rem;
	}
	section.section1 .about_container .about_item {
		width: 45%;
		padding: 50px 20px 20px 20px;
	}
}
@media all and (max-width: 650px) {
	section.section1 .about_container .about_item {
		width: 100%;
		/* padding-top: 50px;*/
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		margin: 0 auto;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-box-align:center;
		    -ms-flex-align:center;
		        align-items:center;
			img {
				position: relative;
				top: 3px;
				padding-right: 10px;
			}
	}
	.about_col {
		width: 75%;
	}
	.about_col h3 {
		text-align: left;
	}
	.about_col .about_text > p.small {
		text-align: left;
		padding: 0;
		margin: 0;
	}
	.about_col i {
		display: none;
	}
}