$red: #d62b41;
$darkgrey: #232529;
$grey: #2b2d31;
$lightgrey: #9B9C9E;
$black: #242529;
$bodyfont: 'open sans', sans-serif;
$headerfont: 'Uni sans heavy';
$subheaderfont: 'bebas neue bold';

@font-face {
	font-family: "Uni Sans Heavy";
	src: url('../fonts/UniSansHeavy.otf') format("truetype");
}
@font-face {
 font-family: "BEBAS NEUE BOLD";
 src: url('../fonts/BEBASNEUEBOLD.TTF') format("truetype");
}